<table border="1">
 
    <tbody>
        @foreach (int i in Enumerable.Range(1, 100))
        {
        <tr>
            @foreach (int j in Enumerable.Range(1, 100))
            {
                <td></td>
            }
        </tr>
        }
    </tbody>
</table>